<!DOCTYPE html>
<meta name="viewport" content="width=device-width">
<html lang="en">

    <head>
        <meta charset="utf-8">
    <title>doctor Details</title>
</head>
<body>
    <div class="doctor-details">
        <h2>User Details</h2>
        
        <p>Name: <%= user.dname %></p>
        <p>Age: <%= user.dage %></p>
        <p>Specialization: <%= user.dspecial %></p>
        <p>Experience: <%= user.dexpert %> years</p>
        <p>Phone Number: <%= user.dphoneno %></p>
        <p>Location: <%= user.dlocation %></p>
        <p>Email: <%= user.demail %></p>
    </div>
</body>
</html>
